extends ../layout

block content
  section#page-title(
    style="background-image: url('/images/headers/header-contactus.jpg'); padding: 120px 0;" 
    data-bottom-top="background-position:0px 300px;" 
    data-top-bottom="background-position:0px -300px;"
  )
    .container.clearfix
      h2= title
      span We are here to answer all your questions about us or our services.

  section#content
    .container.clearfix
      .row
        .col-12.custom-mb-30
          h3.section-title Get in touch with us
          p If you have any questions about our programs or services, please fill out the form below.
        .col-md-4
          address
            strong Headquarters:
            br
            | 1144 45 Street SW
            br
            | Calgary, AB Canada
            br
            |T2H 4E3

          strong Phone: (1) 345 22 33 22
          br
          strong Fax: (1) 345 33 22 33
          br
          strong Email: 
            a(href='mailto:info@yourdomain.com') info@yourdomain.com


        .col-md-8
          form(method="POST")
            .form-row
              .col-sm-6.form-group
                label(for="firstname" class="label-color font-weight-bold") Firstname
                input.form-control#firstname(
                  name="firstname"
                  type="text"
                  aria-describedby="firstnameHelp"
                  placeholder="Enter your firstname"
                  maxlength="150"
                  class=errors.firstname ? "is-invalid" : ""
                  value=contact.firstname
                  required
                )
                if errors.firstname
                  #firstname.invalid-feedback= errors.firstname.message

              .col-sm-6.form-group
                label(for="lastname" class="label-color font-weight-bold") Lastname
                input.form-control#firstname(
                  name="lastname"
                  type="text"
                  aria-describedby="lastnameHelp"
                  placeholder="Enter your lastname"
                  maxlength="150"
                  class=errors.lastname ? "is-invalid" : ""
                  value=contact.lastname
                  required
                )
                if errors.lastname
                  #lastname.invalid-feedback= errors.lastname.message

              .col-sm-6.form-group
                label(for="phone" class="label-color font-weight-bold") Phone
                input.form-control#firstname(
                  name="phone"
                  type="tel"
                  aria-describedby="phoneHelp"
                  placeholder="Enter your phone number"
                  maxlength="15"
                  class=errors.phone ? "is-invalid" : ""
                  value=contact.phone
                  required
                )
                if errors.phone
                  #phone.invalid-feedback= errors.phone.message

              .col-sm-6.form-group
                label(for="email" class="label-color font-weight-bold") Email
                input.form-control#firstname(
                  name="email"
                  type="email"
                  aria-describedby="emailHelp"
                  placeholder="Enter your email"   
                  maxlength="255"         
                  class=errors.email ? "is-invalid" : ""
                  value=contact.email
                  required
                )
                if errors.email
                  #email.invalid-feedback= errors.email.message

              .col-sm-12.form-group
                label(for="subject" class="label-color font-weight-bold") Subject
                input.form-control#subject(
                  name="subject"
                  type="text"
                  aria-describedby="subjectHelp"
                  placeholder="Enter a subject"
                  maxlength="255"
                  class=errors.subject ? "is-invalid" : ""
                  value=contact.subject
                  required
                )
                if errors.subject
                  #subject.invalid-feedback= errors.subject.message

              .col-sm-12.form-group
                label(for="comment" class="label-color font-weight-bold") Message or comment
                textarea.form-control#comment(
                  name="comment"
                  aria-describedby="commentHelp"
                  placeholder="Enter your comment or message"
                  maxlength="2000"
                  class=errors.comment ? "is-invalid" : ""
                  value=contact.comment
                  required
                )
                if errors.comment
                  #comment.invalid-feedback= errors.comment.message          

              button.btn.btn-primary(type="submit") Submit