extends ../layout

block content
  h1 Contact us
  p If you have any questions about our programs or services, please fill out the form below.

  .row
    .col-4


    .col-8
      form(method="POST")
        .form-row
          .col-sm-6.form-group
            label(for="firstname" class="font-weight-bold") Firstname
            input.form-control#firstname(
              name="firstname"
              type="text"
              aria-describedby="firstnameHelp"
              placeholder="Enter your firstname"
              class=errors.firstname ? "is-invalid" : ""
              value=contact.firstname
              required
            )
            if errors.firstname
              #firstname.invalid-feedback= errors.firstname.message

          .col-sm-6.form-group
            label(for="lastname" class="font-weight-bold") Lastname
            input.form-control#firstname(
              name="lastname"
              type="text"
              aria-describedby="lastnameHelp"
              placeholder="Enter your lastname"
              class=errors.lastname ? "is-invalid" : ""
              value=contact.lastname
              required
            )
            if errors.lastname
              #lastname.invalid-feedback= errors.lastname.message

          .col-sm-6.form-group
            label(for="phone" class="font-weight-bold") Phone
            input.form-control#firstname(
              name="phone"
              type="tel"
              aria-describedby="phoneHelp"
              placeholder="Enter your phone number"
              class=errors.phone ? "is-invalid" : ""
              value=contact.phone
              required
            )
            if errors.phone
              #phone.invalid-feedback= errors.phone.message

          .col-sm-6.form-group
            label(for="email" class="font-weight-bold") Email
            input.form-control#firstname(
              name="email"
              type="email"
              aria-describedby="emailHelp"
              placeholder="Enter your email"            
              class=errors.email ? "is-invalid" : ""
              value=contact.email
              required
            )
            if errors.email
              #email.invalid-feedback= errors.email.message

          .col-sm-12.form-group
            label(for="subject" class="font-weight-bold") Subject
            input.form-control#subject(
              name="subject"
              type="text"
              aria-describedby="subjectHelp"
              placeholder="Enter a subject"
              class=errors.subject ? "is-invalid" : ""
              value=contact.subject
              required
            )
            if errors.subject
              #subject.invalid-feedback= errors.subject.message

          .col-sm-12.form-group
            label(for="comment" class="font-weight-bold") Message or comment
            textarea.form-control#comment(
              name="comment"
              aria-describedby="commentHelp"
              placeholder="Enter your comment or message"
              class=errors.comment ? "is-invalid" : ""
              value=contact.comment
              required
            )
            if errors.comment
              #comment.invalid-feedback= errors.comment.message          

          button.btn.btn-primary(type="submit") Submit