header
  nav.navbar.navbar-expand-md.fixed-top.custom-navbar.px-5
    a.navbar-brand(href="/") Brand name
    button.navbar-toggler(type="button"
                          data-toggle="collapse"
                          data-target="#navbarCollapse"
                          aria-controls="navbarCollapse"
                          aria-expanded="false"
                          aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item: a.nav-link(href="/") Home
        li.nav-item: a.nav-link(href="/about-us") About us
        li.nav-item: a.nav-link(href="/services") Services
        li.nav-item: a.nav-link(href="/courses") Courses
        li.nav-item: a.nav-link(href="/posts") News
        li.nav-item: a.nav-link(href="/faqs") FAQs
        li.nav-item: a.nav-link(href="/contact-us") Contact us


