extends layout

block content

  section#slider
    #carousel.carousel.carousel-element(data-ride="carousel")
      ul.carousel-indicators
        li(
          data-target="#carousel" 
          data-slide-to="0" 
          class="active"
        )
        li(
          data-target="#carousel" 
          data-slide-to="1"
        )
        li(
          data-target="#carousel" 
          data-slide-to="2"
        )
      .carousel-inner
        .carousel-item.min-vh-60.min-vh-md-100.active
          .container
            .carousel-caption.carousel-caption-center
              h2 Lorem ipsum dolor sit
              p.d-none.d-sm-block Mauris et gravida lacus. Proin pulvinar volutpat aliquam. Nam quis quam leo. Proin aliquet in leo eget elementum.
          .carousel-bg(
            style="background-image: url('/images/carousel/carousel-image1.jpg');"
          )
        .carousel-item.min-vh-60.min-vh-md-100
          .container
            .carousel-caption.carousel-caption-center
              h2 Duis interdum ipsum molestie
              p.d-none.d-sm-block Quisque ante libero, dictum vitae quam a, congue eleifend nulla. Quisque quis metus dui. Sed eleifend urna quis arcu tincidunt luctus.
          .carousel-bg(
            style="background-image: url('/images/carousel/carousel-image2.jpg');"
          )
        .carousel-item.min-vh-60.min-vh-md-100
          .container
            .carousel-caption.carousel-caption-center
              h2 Morbi imperdiet urna quis
              p.d-none.d-sm-block Duis commodo a nisi ut eleifend. Nunc pellentesque tristique felis, nec aliquam nulla. Mauris vitae neque vel risus varius rutrum.
          .carousel-bg(
            style="background-image: url('/images/carousel/carousel-image3.jpg');"
          )

      a(
        class="carousel-control-prev" 
        href="#carousel" 
        data-slide="prev")
        span(class="carousel-control-prev-icon")

      a(
        class="carousel-control-next" 
        href="#carousel" 
        data-slide="next")
        span(class="carousel-control-next-icon")
 
  section#content
    .section.bg-color
      .container.clearfix
        .row
          .col-lg-9
            h3 What we offer
            span Our organizaton offers a variety of programs for you. All our programs are free and are developed throug education in classroom or virtual.
          .col-lg-3
            a(href="/services" class="btn btn-primary button-rounded m-0") Our services

    .section.my-0
      .row.clearfix.align-items-stretch
        .col-lg-6(style="background: url('/images/home/who-we-are.jpg') center center no-repeat; background-size: cover;")

        .col-lg-6
          .px-5.py2
            h3 Who we are
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a auctor nisi, quis dapibus dolor. Nunc nibh ipsum, eleifend at fermentum venenatis, molestie sit amet quam. Etiam ullamcorper nisl eros, nec interdum tellus dictum ut. In vitae orci dapibus, rutrum massa vitae, scelerisque mauris. Sed eget iaculis mi, fermentum condimentum arcu.
            p Curabitur consequat, metus non mattis consequat, neque tortor elementum nunc, eu imperdiet turpis odio sed tellus. Aliquam et ipsum et nisl mattis pellentesque quis ac ipsum. Fusce volutpat nulla ultrices convallis semper.

      .section.my-0
        .container.clearfix
          .row
            .col-md-12.mb-5
              h2 Recent Articles
            .col-md-4
              .card
                img(
                  class="card-img-top" 
                  src="/images/news/examplenews-01.jpg" 
                  alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                )           
                .card-body
                  h3.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.card-text Nunc at faucibus nibh. Proin ornare diam et dapibus condimentum. Aliquam erat volutpat. Phasellus tristique luctus sem, eu dapibus orci pharetra quis. Vivamus vel diam ornare, tempor neque eu, pulvinar mauris. Morbi vestibulum ultricies fermentum. Donec pharetra eros arcu, quis mollis neque mollis ut.

            .col-md-4
              .card
                img(
                  class="card-img-top" 
                  src="/images/news/examplenews-02.jpg" 
                  alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                )           
                .card-body
                  h3.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.card-text Nunc at faucibus nibh. Proin ornare diam et dapibus condimentum. Aliquam erat volutpat. Phasellus tristique luctus sem, eu dapibus orci pharetra quis. Vivamus vel diam ornare, tempor neque eu, pulvinar mauris. Morbi vestibulum ultricies fermentum. Donec pharetra eros arcu, quis mollis neque mollis ut.

            .col-md-4
              .card
                img(
                  class="card-img-top" 
                  src="/images/news/examplenews-03.jpg" 
                  alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                )           
                .card-body
                  h3.card-title Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  p.card-text Nunc at faucibus nibh. Proin ornare diam et dapibus condimentum. Aliquam erat volutpat. Phasellus tristique luctus sem, eu dapibus orci pharetra quis. Vivamus vel diam ornare, tempor neque eu, pulvinar mauris. Morbi vestibulum ultricies fermentum. Donec pharetra eros arcu, quis mollis neque mollis ut.



