extends layout

block content
  section#page-title(
    style="background-image: url('/images/headers/header-services.jpg'); padding: 120px 0;" 
    data-bottom-top="background-position:0px 300px;" 
    data-top-bottom="background-position:0px -300px;"
  )
    .container.clearfix
      h1= title
      span All your Questions answered in one place

  section#content.my-5
    .container.clearfix
      .row
        .col-md-4
          .card
            img(
            class="card-img-top" 
            src="/images/news/examplenews-01.jpg" 
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            )  
            .card-body
            h2 Why choose Us.
            span.subtitle Because we are Reliable.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>

        .col-md-4
          .card
            img(
            class="card-img-top" 
            src="/images/news/examplenews-01.jpg" 
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            )  
            .card-body
            h2 Why choose Us.
            span.subtitle Because we are Reliable.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>

        .col-md-4
          .card
            img(
            class="card-img-top" 
            src="/images/news/examplenews-01.jpg" 
            alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            )  
            .card-body
            h2 Why choose Us.
            span.subtitle Because we are Reliable.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>

