extends ../layout

block content
  section#page-title(style="background-image: url('/images/headers/header-userszone.jpg'); padding: 120px 0;" )
    .container.clearfix
      h2= title
      span= subtitle

  section#content.my-5
    .container-fluid.cleanfix
      .row
        .col-md-3
          include ../includes/users-menu
        .col-md-9.px-5
          h3.mb-5.admintitle= sectiontitle     
          form(method="POST" action='/contact-us/contact/' + contact.id + '/edit?_method=PUT')
            .form-row
              .col-sm-6.form-group
                label(for="firstname" class="label-color font-weight-bold") Firstname (*)
                input.form-control#firstname(
                  name="firstname"
                  type="text"
                  placeholder= "Enter your firstname"
                  title= "Firstname is required. Enter your firstname"
                  minlength= "2"
                  maxlength= "150"
                  class=errors.firstname ? "is-invalid" : ""
                  value=contact.firstname
                  disabled 
                )
                if errors.firstname
                  #firstname.invalid-feedback= errors.firstname.message

              .col-sm-6.form-group
                label(for="lastname" class="label-color font-weight-bold") Lastname (*)
                input.form-control#firstname(
                  name="lastname"
                  type="text"
                  placeholder="Enter your lastname"
                  title= "Lastname is required. Enter your lastname"
                  minlength= "2"
                  maxlength="150"
                  class=errors.lastname ? "is-invalid" : ""
                  value=contact.lastname
                  disabled 
                )
                if errors.lastname
                  #lastname.invalid-feedback= errors.lastname.message

              .col-sm-6.form-group
                label(for="phone" class="label-color font-weight-bold") Phone (*)
                input.form-control#phone(
                  name="phone"
                  type="tel"
                  placeholder="Enter your phone number"
                  title= "Phone is required. Enter your phone number"
                  minlength= "7"
                  maxlength="15"
                  class=errors.phone ? "is-invalid" : ""
                  value=contact.phone
                  disabled 
                )
                if errors.phone
                  #phone.invalid-feedback= errors.phone.message

              .col-sm-6.form-group
                label(for="email" class="label-color font-weight-bold") Email (*)
                input.form-control#firstname(
                  name="email"
                  type="email"
                  placeholder="Enter your email"
                  title= "Email is required. Enter your email"
                  mainlegth= "10"
                  maxlength="255"         
                  class=errors.email ? "is-invalid" : ""
                  value=contact.email
                  disabled 
                )
                if errors.email
                  #email.invalid-feedback= errors.email.message

              .col-sm-12.form-group
                label(for="subject" class="label-color font-weight-bold") Subject (*)
                input.form-control#subject(
                  name="subject"
                  type="text"
                  placeholder="Enter a subject"
                  title= "Subject is required. Enter a subject"
                  minlegth= "5"
                  maxlength="255"
                  class=errors.subject ? "is-invalid" : ""
                  value=contact.subject
                  disabled 
                )
                if errors.subject
                  #subject.invalid-feedback= errors.subject.message

              .col-sm-12.form-group
                label(for="comment" class="label-color font-weight-bold") Message or comment (*)
                textarea.form-control#comment(
                  name="comment"
                  placeholder="Enter your comment or message"
                  title= "Message or comment is required. Enter your comment or message"
                  rows= "10"
                  cols= "30"
                  maxlength="2000"
                  class=errors.comment ? "is-invalid" : ""
                  disabled 
                )=contact.comment
                if errors.comment
                  #comment.invalid-feedback= errors.comment.message                     

              input(
                name="status"
                type="hidden"
                value="Answered"
                )
              .col-sm-12.form-group
                label(for="answer" class="label-color font-weight-bold") Answer (*)
                textarea.form-control#answer(
                  name="answer"
                  placeholder="Enter the answer for this comment or message"
                  title= "Answer is required. Enter your answer"
                  rows= "10"
                  cols= "30"
                  maxlength="2000"
                  class=errors.comment ? "is-invalid" : ""
                  required
                )=contact.answer
                if errors.answer
                  #answer.invalid-feedback= errors.answer.message 

              button.btn.btn-primary(type="submit") Submit
              a(href="/contact-us/table-contacts" class="btn btn-secondary ml-3") Cancel