extends ../layout

block content
  section#page-title(style="background-image: url('/images/headers/header-userszone.jpg'); padding: 120px 0;" )
    .container.clearfix
      h2= title
      span= subtitle

  section#content.my-5
    .container-fluid.cleanfix
      .row
        .col-md-3
          include ../includes/users-menu
        .col-md-9.px-5
          h3.mb-5.admintitle= sectiontitle
          .table-responsive
            table.table.table-striped
              thead.thead-custom-bg
                  tr 
                    th Accions
                    th Subject
                    th Firstname
                    th Lastname
                    th status
                    th Date
              tbody
                each contact in contacts
                  tr
                    td
                      a(href='/contact-us/contact/' + contact.id + '/edit', title="Edit item") 
                        i.fas.fa-edit
                        span.sr-only Edit
                      form(
                        method="POST", 
                        action='/contact-us/contact/' + contact.id + '?_method=DELETE',
                        class="form-inline"
                        )
                        a(href="javascript:void(0);", title="Delete item", onclick="if(confirm('are you sure you want to delete this contact?')){this.parentNode.submit();}") 
                          i.fas.fa-trash
                          span.sr-only Delete
                    td
                      a(href='/contact-us/contact/' + contact.id + '/edit', title="Edit item")=contact.subject
                    td=contact.firstname
                    td=contact.lastname
                    td=contact.status
                    td=contact.createdAt
                else
                  tr
                    td.text-danger(colspan="5") Comments or messages from users not find.


