extends ../layout

block content
  section#page-title(
    style="background-image: url('/images/headers/header-news.jpg'); padding: 120px 0;" 
    data-bottom-top="background-position:0px 300px;" 
    data-top-bottom="background-position:0px -300px;"
  )
    .container.clearfix
      h2= title
      span Discover the latest news, events and useful information for you
      
  section#content.custom-my-80
    .container.clearfix
      .row  
        each post in posts
          .col-md-4.mb-4.d-flex
            .card
              a(href='/posts/post/' + post.id)
                img(
                  class="card-img-top" 
                  src="/images/news/examplenews-01.jpg" 
                  alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                )
              .card-body
                h3.card-title
                  a(href='/posts/post/' + post.id)= post.headline
                p.card-text= post.abstract
        else
          .col-md-12
          p We don't have any posts at this time. Pease check back later.