extends ../layout

block content
  section#page-title(style="background-image: url('/images/headers/header-news.jpg'); padding: 120px 0;" )
    .container.clearfix
      h2= title
      span= subtitle
      
  section#content.my-5
    .container.clearfix
      .row
        .col-md-8.mb-5
          h2= post.headline
          p= post.abstract
          p= post.fulltext
        
        .col-md-4
          h3 Lastest post


