extends ../layout

block content
  section#page-title(
    style="background-image: url('/images/headers/header-news.jpg'); padding: 120px 0;" 
    data-bottom-top="background-position:0px 300px;" 
    data-top-bottom="background-position:0px -300px;"
  )
    .container.clearfix
      h2= title
      span Discover the latest news, events and useful information for you
      
  section#content.my-5
    .container.clearfix
      .row
        .col-md-4
          include ../includes/users-menu
        .col-md-8
          h2 All news
          p Click on the title to edit the post
          table.table.table-striped
            thead.thead-dark
                tr 
                  th Ítem
                  th Date
            tbody
              each post in posts
                tr
                  td=post.headline
                  td=post.createdAt
