extends ../layout

block content
  section#page-title(
    style="background-image: url('/images/headers/header-userszone.jpg'); padding: 120px 0;" 
    data-bottom-top="background-position:0px 300px;" 
    data-top-bottom="background-position:0px -300px;"
  )
    .container.clearfix
      h2= title
      span We are here to answer all your questions about us or our services.

  section#content.custom-my-80
    .container.cleanfix
      .row
        .col-md-4
          include ../includes/users-menu
        .col-md-8
          h2 Add new post
          p Fill the form with the information about news, events or announcements. Remember the fields with (*) asterisk are mandatories. 
          form(method="POST")
            .form-row
              .col-12.form-group
                label(for="headline" class="font-weight-bold") Headline (*)
                input.form-control#headline(
                  name="headline"
                  type="text"
                  aria-describeby="headlineHelp"
                  placeholder="Enter the service's headline"
                  maxlength="255"
                  class=errors.headline ? "is-invalid" : ""
                  value=service.headline
                  required
                  )
                if errors.headline
                  #headline.invalid-feedback= errors.firstname.message 

              .col-12.form-group
                label(for="abstract" class="font-weight-bold") Abstract (*)
                textarea.form-control#abstract(
                  name="abstract", 
                  placeholder="Enter the post's abstract",
                  cols="30", 
                  rows="10"
                  )
                if errors.abstract
                  #abstract.invalid-feedback= errors.abstract.message 

              .col-12.form-group
                label(for="image" class="font-weight-bold") Image (*)
                input.form-control#image(
                  type="file", 
                  name="image"
                  )
                if errors.image
                  #image.invalid-feedback= errors.image.message 

              .col-12.form-group
                label(for="fulltext" class="font-weight-bold") Fulltext (*)
                textarea.form-control#fulltext(
                  name="fulltext", 
                  placeholder="Enter the post's fulltext"
                  cols="30", 
                  rows="10"
                  )
                if errors.fulltext
                  #fulltext.invalid-feedback= errors.fulltext.message 

          button.btn.btn-primary(type="submit") Submit
                    