extends ../layout

block content
  section#page-title(style="background-image: url('/images/headers/header-faqs.jpg'); padding: 120px 0;")
    .container.clearfix
      h2= title
      span= subtitle
      
  section#content.custom-my-80
    .container-fluid.clearfix
      .row
        .col-md-3
          include ../includes/users-menu
        .col-md-9.px-5
          h3.mb-5.admintitle= sectiontitle
          .table-responsive
            table.table.table-striped
              thead.thead-dark
                  tr 
                    th Actions
                    th Item
                    th Date
              tbody
                each faq in faqs
                  tr
                    td
                      a(href='/faqs/faq/' + faq.id + '/edit', title="Edit item") 
                        i.fas.fa-edit
                        span.sr-only Edit
                      form(
                        method="POST", 
                        action='/faqs/faq/' + faq.id + '?_method=DELETE',
                        class="form-inline"
                        )
                        a(href="javascript:void(0);", title="Delete item", onclick="if(confirm('are you sure you want to delete this faq?')){this.parentNode.submit();}") 
                          i.fas.fa-trash
                          span.sr-only Delete
                    td 
                      a(href='/faqs/faq/' + faq.id + '/edit', title="Edit item")=faq.question
                    td=faq.createdAt
                else
                    tr
                      td.text-danger(colspan="3") Faqs not find.